@model IEnumerable<periodo_academico.Models.Finalista>

@{
    ViewBag.Title = "Index";
}

<style>
    #links {
        margin-top: 30px;
    }
</style>

<div id="links">
    <p>
        @Html.ActionLink("Gerar Nota Final", "GerarNotaFinal", null, new { @class = "btn btn-dark" })
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotaDeClassificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaFinal)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotaDeClassificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaFinal)
        </td>
    </tr>
}

</table>
