@model IEnumerable<periodo_academico.Models.Prova>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Gerar Provas", "GerarProvas")
</p>
<p>
    @Html.ActionLink("Deletar Provas", "DeletarTudo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_3)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota_3)
        </td>
    </tr>
}

</table>
