@model IEnumerable<periodo_academico.Models.Prova>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroOrdinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroOrdinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProvaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProvaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProvaId })
        </td>
    </tr>
}

</table>
