@model IEnumerable<periodo_academico.Models.Prova>

@{
    ViewBag.Title = "Index";
}
<style>
    #links {
        margin-top: 30px;
    }
</style>
<div id="links">
    <p class="d-inline-block">
        @Html.ActionLink("Gerar Provas", "GerarProvas", null, new { @class = "btn btn-dark" })
    </p>
    <p class="d-inline-block">
        @Html.ActionLink("Gerar Médias", "GerarMedia", null, new { @class = "btn btn-dark" })
    </p>
    <p class="d-inline-block">
        @Html.ActionLink("Gerar Nota Final", "GerarNotaFinal", null, new { @class = "btn btn-dark" })
    </p>
    <p class="d-inline-block">
        @Html.ActionLink("Gerar Finalistas", "GerarFinalistas", "Finalistas", null, new { @class = "btn btn-dark" })
    </p>
    <p class="d-inline-block">
        @Html.ActionLink("Deletar Provas", "DeletarTudo", null, new { @class = "btn btn-dark" })
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Media)
        </th>
        <th>
            Situação
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota_3)
        </td>
        @if (item.Nota_4 == null)
        {
            <td> - </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Nota_4)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Media)
        </td>
        @if (item.Media > 6 || ((item.Media >= 5) && (item.Nota_4 != null)) )
        {
            <td class="alert-success">Aprovado</td>
        }
        else if (item.Media < 4 || ((item.Nota_4 != null) && (item.Media < 5) ))
        {
            <td class="alert-danger">Reprovado</td>
        }
        else if (item.Media == null)
        {
            <td class="alert-info">Média não lançada</td>
        }
        else
        {
            <td class="alert-secondary">Prova Final</td>
        }

    </tr>
}

</table>
